@import url('https://fonts.googleapis.com/css?family=Roboto');

.menu--item {
    top: 80px;
    left: 10px;
    background-color: #fff;
    font-size: large;
    /* border: 3px solid black; */
    border-radius: 5px;
    /* border-width:211px !important; */
    width: 400px !important;
    height: 450px !important;
    position: absolute !important;
    margin-left: auto !important;
    margin-right: auto !important;
}


body {
    height: 100vh;
    background-color: #99add5;
    overflow: hidden;
    /* background: #000; */
    /* color: #fff;   */
    font-family: 'Playfair Display', cursive;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.menu--wrapper {
    counter-reset: count;
    display: flex;
    position: absolute;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
}

.menu :nth-child(n+10):before {
    content: counter(count);
}

.menu.is-dragging {
    cursor: grabbing;
}

.menu::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100px;
    bottom: 0;
    right: 0%;
    background: transparent;
}

.menu {
    overflow-y: hidden;
    overflow-x: scroll;
    /* overflow: hidden; */
    /* cursor: grab; */
    width: 100%;
    height: 550px;
    position: relative;
    z-index: 1;
    /* height: 40vh; */

    @media (max-width: 767px) {
        width: 40vw;
        height: 40vw;
    }


}

/* figure:before {
    position: absolute;
    z-index: 2;
    bottom: 1vw;
    left: 1vw;
    display: inline-block;
    content: "0" counter(count);
    color: #ffffff;
    font-size: 3vw;
} */


/* .version {
    display: inline-block;
    position: fixed;
    text-align: center;
    z-index: 1;
    text-decoration: none;
    background: #333;
    font-family: sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 10px;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2);
    top: -30px;
    right: -50px;
    bottom: auto;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    border-radius: 0;
    padding: 8px 30px;
    font-size: 11px;

    @media (max-width: 767px) {
        transform: scale(.6) rotate(45deg);
        right: -100px;
    }
} */

/* html { overflow-y: hidden; overflow-x: hidden; } */
/* .main_div::-webkit-scrollbar {
    /* width: 7px; */
/* background-color: #b9dcf7; */
/* position: relative; */

.edit-post {
    border-width: 0px;
    /* border-color: #0055ff; */
    /* border: 13px; */
    border-radius: 10px;
    width: 40%;
    height: 25px;
    position: absolute;
    bottom: 10px;
    left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px;
}

a,
u {
    text-decoration: none;
}

.remove-post {
    border-width: 0px;
    /* border-color: #0055ff; */
    border-radius: 10px;
    width: 40%;
    height: 25px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px;

}
button:hover {
	background: rgba(0, 0, 0, 0);
	color: #3a7999;
	/* box-shadow: inset 0 0 0 3px #3a7999; */
}
.title {
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

i {
    margin-right: 10px;
}

.navbar-logo {
    padding: 15px;
    color: #fff;
}

.navbar-item a:hover {
    background: #1c0048;
    color: #fff;
}

.navbar-mainbg {
    background-color: #5161ce;
    padding: 0px;
}

#navbarSupportedContent {
    overflow: hidden;
    position: relative;
}

#navbarSupportedContent ul {
    padding: 0px;
    margin: 0px;
}

#navbarSupportedContent ul li a i {
    margin-right: 10px;
}

#navbarSupportedContent li {
    list-style-type: none;
    float: left;
}

#navbarSupportedContent ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}

#navbarSupportedContent>ul>li.active>a {
    color: #5161ce;
    background-color: transparent;
    transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
}

#navbarSupportedContent .active>a:not(:only-child):after {
    transform: rotate(90deg);
}

@media(min-width: 992px) {
    .navbar-expand-custom {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .navbar-expand-custom .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .navbar-expand-custom .navbar-toggler {
        display: none;
    }

    .navbar-expand-custom .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

.hori-selector {
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    bottom: 10px;
}

.hori-selector .right {
    right: -25px;
}

.hori-selector .left {
    left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5161ce;
}

.hori-selector .right:before {
    bottom: 0;
    right: -25px;
}

.hori-selector .left:before {
    bottom: 0;
    left: -25px;
}

@media (max-width: 991px) {
    #navbarSupportedContent ul li a {
        padding: 12px 30px;
    }

    .hori-selector {
        margin-top: 0px;
        margin-left: 10px;
        border-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .hori-selector .left,
    .hori-selector .right {
        right: 10px;
    }

    .hori-selector .left {
        top: -25px;
        left: auto;
    }

    .hori-selector .right {
        bottom: -25px;
    }

    .hori-selector .left:before {
        left: -25px;
        top: -25px;
    }

    .hori-selector .right:before {
        bottom: -25px;
        left: -25px;
    }
}